body {
	font-family: Arial;
	background-color: #E7E7E7;
	color:#000;
    margin:0px;
}

button {
    background-color: #66cccc;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: #ffe066;
}

.container{
    padding: 30px;
    text-align: center;
}
.content {
    background-color: #FFF;
    border-radius: 15px;
    display: inline-block;
    padding: 50px;
    height: 300px;
}